* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* nave-icon */
.nave-icon {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: aliceblue;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links li {
    margin: 0px 30px;
}

body,
html {
    overflow-x: hidden;
}

header {
    height: 100vh;
    width: 100vw;
    background-image: url(images/donation4.jpg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header-content {
    margin-bottom: 150px;
    color: aliceblue;
    text-align: center;
}

.header-contenth1 {
    font-size: 4vmin;
}

.line-k {
    width: 150px;
    height: 5px;
    background-color: rgb(42, 165, 108);
    margin: 10px auto;
    border-radius: 5px;
}

.cet {
    padding: 9px 19px;
    background-color: orangered;
    color: aliceblue;
    border-radius: 3px;

}

section {
    width: 80%;
    margin: 90px auto;
}

.title {
    text-align: center;
    font-size: 5vmin;
    color: rgb(0, 110, 255);
}

.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

}

.news .row img {
    margin-top: 50px;
}

.row .colon {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;


}

h4 {
    font-size: 3vh;
    color: gray;
    margin: 20px;
}

.news .row {
    margin-top: 50px;
}

p {
    color: black;
    padding: 0px 40px;
}

.news.cet {
    margin-top: 30px;
}

.new-fonts {
    text-align: center;
    font-size: 20px;

}

.new1 {

    font-size: 400%;
    float: right;
}

.new2 {

    font-size: 400%;
    float: left;
}

.new3 {
    width: 34%;
    font-size: 400%;
    margin: 0 auto;
    background-color: red;
    padding: 10px 10px 10px;
    color: aliceblue;
    border-radius: 4px;
}

.cets {
    text-decoration: none;
    background-color: orangered;
    color: aliceblue;
    padding: 7px 20px 8px 20px;
    text-align: center;
    margin: bottom 150px;

}

.bgb {
    background-color: cornflowerblue;
}

.bgb2 {
    text-align: center;
    font-size: 35px;

}

.bgb3 {
    text-align: center;
    font-size: 14px;
}